* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width:1500px;
}

a {
    font-size: 20px;
    color:black;
    letter-spacing: 2px;
    text-decoration:none;
    padding: 30px 5px;
    display:inline-block;
    width:100%;
    text-align:left;
    transition:.3s;
}

a:hover {
text-decoration:underline;
}

.flex-nav ul {
list-style: none;
margin:0;
padding: 0;
display:flex;
}

.flex-nav li {
    flex:1;
}


.flex-nav .orange {
    padding: 20px 25px;
    width:100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size:30px;
    flex:4;
   
}

@media all and (max-width:800px) {
   
    .flex-nav ul {
    flex-direction:column;
    }

}


@media all and (max-width:300px) {
.flex-nav li {
    flex: 1 1 100%;
}
}
   

section {
     display:flex;/* musimy powiedziec section zeby jego dzieci main i aside tez byly elastyczne dlatego flex */
     flex-direction:row; /*jest to ustawienie domyslne i takie chcemy zostawic */
    flex-grow:1;
    align-items:stretch;  /*wartosc domyslna dlatego main i aside rosna!!! */
    /* background-color:rgb(180, 84, 84); */
    width:100%;
    /* max-width:1200px; */
}

 main {
    /* background-color: rgb(245, 190, 190); */
    flex-grow:1;
    flex-basis:60%;
}


.item {
 position:relative;
 top:100px;
    left:200px;
    font-size: 40px;
    color: gray;
    font-weight:300;
    text-transform:uppercase;
    /* background-color:yellow; */
    margin-bottom:5px;
}

.paragraph {
    position:relative;
    top:120px;
    left:200px;
    /* width:600px; */
    font-size: 1.3em;
    color:gray;
    /* background-color:blue; */
    padding-right:50px;
    margin:5px 50px 5px 0;
    flex-basis:50%;
    
}

aside {
    /* background-color:green; */
    flex-basis:40%;
    min-width:280px;
    /* background-color:cadetblue; */
}


img {
    /* background-color: rgb(231, 24, 138); */
    position:relative;
    top:100px;
    right:-100px;
    margin-left:10px;

}
footer {
    /* background-color:yellow; */
    align-self:stretch; /*or  width:100% */
    width:100%;
    flex-basis:10vh;
    text-align:center;
}

.webnode {
    color:gray;
    line-height:35px;
  /* background-color:rgb(231, 24, 138); */
}



