* {
    box-sizing: border-box;
}

body {
    margin: 0 ;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    
    }

a {
    font-size: 20px;
    color:black;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration:none;
    padding:30px 5px;
    display:inline-block;
    width: 100%;
    text-align:left;
    transition:.3s;

}

a:hover {
    text-decoration:underline;
}


.flex-nav ul {
    list-style: none;
    margin:0;
    padding: 0;
    display:flex;
    background-color:orchid;
    }


.flex-nav li {
    flex:1;
}

.flex-nav .orange {
    text-transform: uppercase;
    padding: 20px 25px;
    letter-spacing:2px;
    width:100%;
    font-size: 30px;
     flex:4;
} 




.flex {
    display:flex;
    flex-direction:row;
    background-color:fuchsia;
    align-items:flex-end;
     
}




h1 {
    
    font-size: 40px;
    color: gray;
    font-weight:300;
    text-transform:uppercase;
    
}





p {
   
    font-size: 1.3em;
    color:gray;
    line-height: 200%;
}



@media all and (max-width:800px) {
   
    .flex-nav ul {
    flex-direction:column;
    }

}


@media all and (max-width:300px) {
.flex-nav li {
    flex: 1 1 100%;
}
}
   



.myForm .form-row {
    margin-bottom: 40px;
}

 .myForm.form-row:last-child {
    margin-bottom: 0;
}



.form-row input[type=text],
.form-row input[type=email],
.form-row textarea {
    box-shadow:inset 0 1px 5px rgba(0,0,0,0.7);
}


.form-row input[type=text],
.form-row input[type=email],
.form-row textarea {
    border-radius:0.3rem;
    font-family:sans-serif;
    padding: 0.9rem;
    border: 1px solid #aaa;
    display:block;
    width:100%;
    color:#666;
}


.form-row input[type=text]:focus,
.form-row input[type=email]:focus,
.form-row textarea:focus {
    border-color:#9DC9F5;
    box-shadow: inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0,0,0,0.07);
    outline:none;
}

.form-row textarea {
    height: 10rem;
}

.form-row label {
    font-weight:bold;
    display:block;
    font-size:0.9rem;
    margin-bottom:0.5rem;
}

 .form-row button {
font-family: sans-serif;
padding: 1rem 2rem;
background: forestgreen;
border:0;
border-radius: 0.2rem;
color:black;
font-size:1.1rem;
font-weight:bold;
transition: 0.3s ;


}
.form-row button:hover {
    background:#7EC927;
} 

/* 
@media screen and (max-width:500px) {
    .form-row button {
        display:block;
        width:100%;
    }
} */


/* Walidacja formularza */

 .form-row input[type=text].error,
.form-row input[type=email].error,
.form-row textarea.error {
    border-color: red;
} 

.field-error {
    color:red;
    padding:0,5rem 0;
    font-size: 0,8rem;
}  



/* ---------------------------------------------------- */
/* loading */
/* ---------------------------------------------------- */
.elem-is-busy {
    position: relative;
    pointer-events: none;
    opacity:0.5;
}

.elem-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0,0,0,0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content:'';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 10;
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}