* {
    box-sizing:border-box;
}
body {
    margin:0;
}

/* body {
    overflow-x: hidden;
    
} */
    
 .container {
 max-width: 1500px;
 display: flex;
 flex-direction:column;
 min-height:100vh;
 background-color: aliceblue;
   }

   nav {
       background-color: yellow;
   }

   footer {
       background-color: palevioletred;
   }

  


   a {
       font-size:20px;
       color:black;
       letter-spacing:2px;
       text-decoration: none;
       padding:30px 5px;
       display:inline-block;
       width:100%;
       text-align:left;
       transition:.3s;
   }

   a:hover {
       text-decoration:underline;
   }

   .flex-nav ul {
       list-style:none;
       margin:0;
       padding:0;
       display:flex;
      
   }

   .flex-nav li {
       flex:1;

   }

   .flex-nav .orange {
       text-transform: uppercase;
       padding: 20px 25px;
       letter-spacing:2px;
       width:100%;
       font-size: 30px;
       flex:4;
   }

   @media all and (max-width:800px) {
   
    .flex-nav ul {
    flex-direction:column;
    
    }

}


@media all and (max-width:300px) {
    .flex-nav li {
        flex: 1 1 100%;
        
}
}


.d-flex {
    display:flex;
    flex-direction:row;
    background-color: cyan;
}

.d-grow {
    flex:4;
   margin-top:50px;
  
}


h3 {
    width:60%;
 margin: 40px 60px;
    padding: 40px 30px;
    font-size: 45px;
    color: gray;
    background-color:red;
}

h3 span {
    display:table;   
} 

p {
    width:60%;
    margin:5px 60px;
    padding:5px 30px;
    background-color:greenyellow; 
}


.item {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:50px;
     margin-right: 400px;
    flex:1;
    
}

img {
    width:120%;
}


@media all and (max-width:800px) {
   
    .d-flex {
    flex-direction:column;
    
    }

}


.family-farm {
    background-color: violet;
    display:flex;
    flex-direction:column;
    
}




h2 span {
    display:table;
}











   



p,  .paragraph, .market, .bottle {
    font-size: 1.3em;
    color:gray;
    line-height: 200%;
}

.family-farm {
    display:flex;
    flex-direction: column;
    
}

.groves {
    align-self: center;
    margin-left:300px;
    padding: 20px;
   background-color:gold;

}

  .groves span {
    display:table;
        }

   h2, .freshness, .taste{
            font-size: 40px;
            color: gray;
            font-weight:300;
            text-transform:uppercase;
        
        }


        .farm span {
            display:table;
        }

        .farm {
            align-self:flex-end;
            margin-right: 60px;
            padding:20px;
            background-color: blueviolet;
        }

/* 
.fresh {
    
    justify-content: flex-end;
} */



/* article { */
    
    /* background-color: rgb(217, 187, 245); */
    /* height: 250vh;
    top:10vh;  article zaczyna sie 10 vh za header dzieki temu nie nakladaja sie na siebie. Inny sposob to moze byc top 0 a margin-top:10vh;* lub z-index mozemy dac w nav ale wtedy mozemy straci czesc article jesli mamy jaki element */
    /* left:0;
    width:100%;
} */
/* 
footer {
    
   
    /* background-color:yellowgreen; */
    /* height: 10vh;
    top:0;
    margin-top: 250vh;
    left: 0;

} */

/* .orange {
    
    margin-left: 25px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
}


 




.juice {
    position:relative;
    top: 220px;
    left: 280px;
    font-size : 60px;
    font-weight: 100;
    color:gray;
}

.juice span {
    display:table;   
} 







.

 

 
   

.left {
    position: relative;
    left:200px;
    top:230px;
}

.vitamin {
    position: relative;
    left: 200px;
    top: 700px;
}

.vitamin span {
    display:table;
}

.paragraph {
    position: absolute;
    bottom:1420px;
    left: 200px;
  }

  .paragraph span {
      display: table;
  }

.jug {
    position: absolute;
    left:750px;
    bottom: 1300px;
}

.freshness {
    position:absolute;
    left:600px;
    bottom:700px;
}

.freshness span {
    display:table;
}

.market {
    position: absolute;
    left: 600px;
    bottom: 550px;
}

.market span {
    display: table;
}

.leaves {
    position: absolute;
    bottom: 480px;
    left:150px;
}

.taste {
    
    position: absolute;
    bottom:  300px;
    left: 500px;
}








    

   

    






    /* @media only screen and (min-width:600px) { 
        .container {
            background-color: rgb(182, 240, 232);
        }
    }
    @media only screen and  (max-width: 768px) {
        .container {
            background-color:pink;
        }
    }

*/

.contact {
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.button {
    flex-shrink:1;
    flex-basis: 15%;
    margin-bottom:20px;
 font-size:20px;  
line-height: 20px;
    padding: 20px 15px;
    
    cursor: pointer;
}

footer {
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.webnode span {
    display:table;
    margin-left:80px;
   
}

.webnode {
    flex-shrink:1;
    color: gray;
     line-height: 20px;
    font-size:20px;

}

    




 