* {
    box-sizing:border-box;
}
body {
    margin:0;
}

/* body {
    overflow-x: hidden;
    
} */
    
 .container {
     margin: 0 auto;
    width: 1024px;
    display: flex;
    flex-direction:column;
    background-color: rgb(207, 228, 247);
 
   }

   nav {
       background-color: yellow;
     
   }

   footer {
       background-color: palevioletred;
   }

  


   a {
       font-size:20px;
       color:black;
       letter-spacing:2px;
       text-decoration: none;
       padding:30px 5px;
       display:inline-block;
       width:100%;
       text-align:left;
       transition:.3s;
   }

   a:hover {
       text-decoration:underline;
   }

   .flex-nav ul {
       list-style:none;
       margin:0;
       padding:0;
       display:flex;
      
   }

   .flex-nav li {
       flex:1;
      

   }

   .flex-nav .orange {
       text-transform: uppercase;
       padding: 20px 25px;
       letter-spacing:2px;
       width:100%;
       font-size: 30px;
       flex:4;
   }

   @media all and (max-width:800px) {
   
    .flex-nav ul {
    flex-direction:column;
    
    }

}


@media all and (max-width:300px) {
    .flex-nav li {
        flex: 1 1 100%;
        
}
}



.d-flex {
    display:flex;
    flex-direction:row;
    background-color: cyan;
    justify-content:center;
    align-items:center;
    height:400px;
   
  
}






h3 {
    width:40%;
    font-size: 45px;
    color: gray;
    background-color:red;
}

h3 span {
    display:table;   
} 

p {
    width:60%;
    background-color:greenyellow; 
}





.family-farm {
   display:flex;
   flex-direction:row-reverse; 
   background-color: violet;
   height:400px;
align-items:center;
}

.home-grown {
display: flex;
flex-direction:column;
justify-content:flex-end;
align-items:center;


}



h2 {
    background-color: seagreen;
}

h2 span {
        display:table;
    }
    
    
    
    .calcium-flex {
        display:flex;
        flex-direction:row;
        justify-content:center;
        align-items:center;
        background-color:red;
        height:500px;
        
    }

    .freshness {
        height:400px;
        display:flex;
        flex-direction:row-reverse;
        background-color: rgb(250, 154, 174);
        align-items:flex-end;
      
        
    }


    .taste {
        height:300px;
        display:flex;
        flex-direction:column;
        background-color:blue;
        justify-content:center;
        align-items:center;
        text-align:center;
    }
      
.taste p span {
    display:table;
    margin:auto;
}
   
  h2 {
    font-size: 40px;
    color: gray;
    font-weight:300;
    text-transform:uppercase;

}
   
p {
    font-size: 1.3em;
    color:gray;
    line-height: 200%;
}









/* article { */
    
    /* background-color: rgb(217, 187, 245); */
    /* height: 250vh;
    top:10vh;  article zaczyna sie 10 vh za header dzieki temu nie nakladaja sie na siebie. Inny sposob to moze byc top 0 a margin-top:10vh;* lub z-index mozemy dac w nav ale wtedy mozemy straci czesc article jesli mamy jaki element */
    /* left:0;
    width:100%;
} */
/* 
footer {
    
   
    /* background-color:yellowgreen; */
    /* height: 10vh;
    top:0;
    margin-top: 250vh;
    left: 0;

} */

 .contact {
    display:flex;
    flex-direction:row;
    justify-content: center;
    
}

button {
    flex-shrink:1;
    flex-basis: 15%;
    font-size:20px;  
    line-height: 20px;
    padding: 20px 15px;
    cursor: pointer;
}

footer {
    display:flex;
    height:100px;
    align-self:stretch;
    
}

footer p span {
    display:table;
    margin:auto;

   
}

footer p {
    text-align:center;
    width:40%;
    flex-shrink:1;
    color: gray;
     line-height: 30px;
    font-size:20px;
    margin:auto;

}

    




 