* {
    box-sizing: border-box;
}

body {
    margin:0;
}
 
 .container {
     max-width:1500px;
 }

a {
 font-size:20px;
   color:black;
   padding: 30px 5px;
   letter-spacing: 2px;
    text-decoration-line: none;
    display:inline-block;
    width:100%;
    text-align:left;
    cursor:pointer;
    transition: .3s;
   
}

a:hover {
text-decoration:underline;
}

.flex-nav ul {
    list-style: none;
    margin:0;
    padding: 0;
    display:flex;
    }

.flex-nav li {
    flex:1;
}


.flex-nav .orange {
   padding: 20px 25px;
   font-size :30px;
   letter-spacing: 2px;
   text-transform: uppercase;
   width:100%;
   font-size:25px;
   flex:4;
  
}


@media all and (max-width:800px) {
   
    .flex-nav ul {
    flex-direction:column;
    }

}


@media all and (max-width:300px) {
.flex-nav li {
    flex: 1 1 100%;
}
}

/* h1 {
    position: absolute;
    right: 180px;
    font-size: 40px;
    color: gray;
    font-weight:300;
    text-transform:uppercase;
}

.paragraph {
    position: absolute;
    top: 220px;
    right: 100px;
    font-size: 1.1em;
    color:gray;
    line-height: 200%;
}

.map {
    position: absolute;
    top:100px;
    left: 50px;
}

.food {
    position: relative;
    bottom:80px;
}

.store {
    position: absolute;
    top: 400px;
    right: 100px;
    font-size: 1.em;
    color:gray;
    line-height: 200%;
}


.map2 {
    position:absolute;
    left:80px;
}

.atlanta {
    right: 180px;
    bottom:20px;
}

.organic{
    position:relative;
    bottom: 0px;
} */























.webnode {
    color: gray;
    line-height: 35px;
    text-align: center;

}


