section, footer {
    display:block;
}


nav {
    width: 100%;
    height:10vh;
    line-height:8vh;
    /* background-color: red;  */
    top: 0;
    left: 0;
    z-index: 1;

    
   
}
  
 
 

ul {
   list-style-type: none;
}

li {
   display:inline;
}


a {
    

   font-size:20px;
   color:black;
   padding: 5px 45px;
    text-decoration-line: none;
    float:right;
    cursor:pointer;
    transition: .3s;
   
}

a:hover {
text-decoration:underline;
}
.orange {
   margin-left: 25px;
   font-size: 30px;
   letter-spacing: 2px;
   text-transform: uppercase;
   font-size:25px;
  
}

h1 {
    position: absolute;
    right: 180px;
    font-size: 40px;
    color: gray;
    font-weight:300;
    text-transform:uppercase;
}

.paragraph {
    position: absolute;
    top: 220px;
    right: 100px;
    font-size: 1.1em;
    color:gray;
    line-height: 200%;
}

.map {
    position: absolute;
    top:100px;
    left: 50px;
}

.food {
    position: relative;
    bottom:80px;
}

.store {
    position: absolute;
    top: 400px;
    right: 100px;
    font-size: 1.em;
    color:gray;
    line-height: 200%;
}


.map2 {
    position:absolute;
    left:80px;
}

.atlanta {
    right: 180px;
    bottom:20px;
}

.organic{
    position:relative;
    bottom: 0px;
}























.webnode {
    color: gray;
    line-height: 35px;
    text-align: center;

}


