* {
    box-sizing: border-box;
}

body {
    margin:0;
}
 
 .container {
     max-width:1024px;
     margin: 0 auto;
     display: flex;
     flex-direction:column;
 
 }

a {
 font-size:20px;
   color:black;
   padding: 30px 5px;
   letter-spacing: 2px;
    text-decoration-line: none;
    display:inline-block;
    width:100%;
    text-align:left;
    cursor:pointer;
    transition: .3s;
   
}

a:hover {
text-decoration:underline;
}

.flex-nav ul {
    list-style: none;
    margin:0;
    padding: 0;
    display:flex;
    background-color: cadetblue;
    }

.flex-nav li {
    flex:1;
}


.flex-nav .orange {
   padding: 20px 25px;
   font-size :30px;
   letter-spacing: 2px;
   text-transform: uppercase;
   width:100%;
   font-size:25px;
   flex:4;
  
}


@media all and (max-width:800px) {
   
    .flex-nav ul {
    flex-direction:column;
    }

}


@media all and (max-width:300px) {
.flex-nav li {
    flex: 1 1 100%;
}
}



.item {
    display: flex;
    flex-direction:row;
  background-color:orangered;
}

.f-store {
    display:flex;
    flex-direction:row-reverse;
    background-color:magenta;
}

.flex-market {
    display:flex;
    background-color:lightcoral;
}

footer {
    display:flex;
    flex-direction:column;
  align-items:center;
  background-color:chartreuse;
  line-height:20px;
}






















h1 {
 
 font-size:45px;
 color:gray;
    
}

p {
    font-size: 1.3em;
    color:gray;
    line-height: 200%;
}

h2 {
    font-size: 40px;
    color: gray;
    font-weight:300;
    text-transform:uppercase;
}








































