* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    display:flex;
    min-height:100vh;
    /* background-color: #ddd; */
    flex-direction:column;
     align-items:center; /*juz sie elementy nie rozciagaja zajmuja tyle ile potrzebuja, sa ograniczone */
    font-family:sans-serif;
    color:black;
    font-size:20px;
}



nav {
    
     align-self:stretch;/* nav się bedzie rozciagal */
    /* background-color: aqua; */
     padding:20px 0;/*zamiast padding mozemy dac flex basis bo jest column czyli dotyczy osi y */
   
  
 } 

 ul {
    list-style-type: none;
}

li {
    display:inline;
}


 a {
      font-size:20px;
    color:black;
    padding: 5px 45px;
     text-decoration-line: none;
     float:right;
     cursor:pointer;
     transition: .3s;
     /* background-color:rgb(204, 44, 71); */
 }

a:hover {
text-decoration:underline;
}


.orange {
    margin-left: 25px;
    font-size: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size:25px;
   
}


section {
     display:flex;/* musimy powiedziec section zeby jego dzieci main i aside tez byly elastyczne dlatego flex */
     flex-direction:row; /*jest to ustawienie domyslne i takie chcemy zostawic */
    flex-grow:1;
    align-items:stretch;  /*wartosc domyslna dlatego main i aside rosna!!! */
    /* background-color:rgb(180, 84, 84); */
    width:100%;
    /* max-width:1200px; */
}

 main {
    /* background-color: rgb(245, 190, 190); */
    flex-grow:1;
    flex-basis:60%;
}


.item {
 position:relative;
 top:100px;
    left:200px;
    font-size: 40px;
    color: gray;
    font-weight:300;
    text-transform:uppercase;
    /* background-color:yellow; */
    margin-bottom:5px;
}

.paragraph {
    position:relative;
    top:120px;
    left:200px;
    /* width:600px; */
    font-size: 1.3em;
    color:gray;
    /* background-color:blue; */
    padding-right:50px;
    margin:5px 50px 5px 0;
    flex-basis:50%;
    
}

aside {
    /* background-color:green; */
    flex-basis:40%;
    min-width:280px;
    /* background-color:cadetblue; */
}


img {
    /* background-color: rgb(231, 24, 138); */
    position:relative;
    top:100px;
    right:-100px;
    margin-left:10px;

}
footer {
    /* background-color:yellow; */
    align-self:stretch; /*or  width:100% */
    width:100%;
    flex-basis:10vh;
    text-align:center;
}

.webnode {
    color:gray;
    line-height:35px;
  /* background-color:rgb(231, 24, 138); */
}



